<!DOCTYPE html>
<html>
    <head>
        <title>smoran.dev</title>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="flex flex-col  justify-center space-y-20 ">
            <div class="m-16 flex flex-col items-center">
                <h1 class="text-blue-400">Add Project</h1>
                <form class="flex flex-wrap items-start justify-between md:space-x-10 sm:space-x-0">
                    <input id="name" type="text" placeholder="Project Name" class="border-2 border-gray-200 rounded-md py-3 px-4 my-1">
                    <input id="blurb" type="text" placeholder="Project Blurb" class="border-2 border-gray-200 rounded-md py-3 px-4 my-1">
                </form>
            </div>
        </div>
    </body> 
</html>
