<!-- Tailwind CSS -->
<link rel="stylesheet" href="/files/tailwind.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/files/style.css">

<div class="bg-amber-300 p-5">
    <nav class="flex justify-between">
        <ul class="flex flex-row">
            <li class="pr-5"><a href="/">Regular Site</a></li>
        </ul>
    </nav>
</div>