<div class="card-footer fixed-bottom">
    <div class="container text-center">
        <a class="footer-item" href="https://github.com/sdmoran">GitHub</a>
        <a class="footer-item" href="files/resume.pdf"s>Résumé</a>
    </div>
</div>
