<!DOCTYPE html>
<html>
    <head>
        <title>smoran.dev</title>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="flex flex-col  justify-center space-y-20 ">
            <div class="m-16 flex flex-col items-center space-y-2">
                <h1 class="text-blue-400">Uh oh!</h1>
                <p>Something went wrong rendering that page... Sorry about that!</p>
                <p><a href="/" class="text-blue-500">Click here to go back to the home page.</a></p>
            </div>
        </div>
    </body>
</html>
