h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

.border {
    width: 2px;
}

.mousepoint {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
}
